*, *:before, *:after { box-sizing: border-box; }
body {
    color: #000;
    background-color: #9CB3BAF7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#intro-elderflower {
    max-width: 150px;
    padding: 5px;
}

h2 {
    color: #00AB54;
    background-color: #171c75;
    display: inline-block;
    padding: 2px;
    font-family: monospace
    font-size: 16px !important;
    margin-bottom: 0;
}
hr {
    border: 0;
    border-bottom: 2px solid #007c3c45;
}

.highlight {
    background-color: yellowgreen;
}
#intro {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    font-family: monospace
}
#column-two {
    border-left: 3px solid #007c3c45;
    padding: 10px;
}
#schedule {
    padding: 10px;
    font-family: monospace
}

a {
    color: #000;
}
h2 {
    font-size: 20px;
    /* text-transform: uppercase; */
    font-weight: normal;
    margin-top: 0;
}
dl {
    font-family: monospace;
    font-size: 14px;
    margin-top: 0;
    color: #0a3608;
    /* max-width: 500px; */
}
dt {
    font-weight: bold;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}
dd {
    margin-top: 10px;
    margin-left: 45px;
}
dt::after {
    content: '';
    display: inline-block;
    width: 90%;
    height: 20px;
    border-bottom: 4px solid #171c75;
    margin-left: 4px;
}

#objects {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#objects li {
    font-size: 14px;
    font-family: monospace;
    /* border-bottom: 1px solid #000; */
    /* background-color: rgba(0, 0, 0, 0.074);
    margin-bottom: 2px; */
}
#objects li:last-child {
    border-bottom: 0;
}
#objects input {
    outline: none;
}

#scene {
    position: relative;
    /* max-width: 500px; */
    max-width: 100%;
    height: 34vw;
}
#scene * {
    position: absolute;
}
#scene #cityscape {
    width: 100%;
    display: none;
}
#scene #table {
    width: 100%;
    top: 20px;
    margin-bottom: 60px;
}
#scene #elderflower-one {
    width: 100px;
    top: 100px;
    z-index: 2;
    display: none;
}
#scene #elderflower-two {
    right: 0;
    width: 100px;
    top: 100px;
    z-index: 2;
    display: none;
}
#scene #orb-left {
    width: 100px;
    z-index: 2;
    display: none;
}
#scene #orb-right {
    width: 100px;
    z-index: 2;
    right: 0;
    display: none;
}
#scene #frank {
    width: 200px;
    z-index: 2;
    right: 250px;
    display: none;
}
#scene #welding-mask {
    width: 150px;
    top: 300px;
    right: 280px;
    z-index: 3;
    opacity: 1;
    display: none;
}

@media(max-width: 700px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
    }    
    dd {
        margin-left: 0;
    }
    dt::after {
        width: 86%;
    }
    #scene {
        height: 70vw;
    }
}